<!DOCTYPE html>
<html>
  <h1>Gossip number <%= @gossip.id %></h1>
  <p><strong>Title :</strong> <%= @gossip.title%></p>
  <p><strong>Description :</strong> <%= @gossip.description%></p>
  <p><strong>Author :</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user)%></p>
  <p><strong>Author's City :</strong> <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %></p>
  <div>
  <%= link_to "Edit", edit_gossip_path , class:"btn btn-dark" %>
  </div>
</html>